/*Home styles*/
.home-container {
  text-align: center;
  margin-top: 20vh;
}

.home-buttons {
  margin-top: 20px;
}

.home-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/*navigation*/
.navigation {
  background-color: #f2f2f2;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.navigation ul {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
}

.navigation li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* Footer*/

.footer {
  text-align: center;
  padding: 15px;
  font-size: 0.9rem;
  color: #666;
  border-top: 1px solid #ddd;
  margin-top: 40px;
}
